<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapeBlog</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <!-- Header Section
    <div class="header-section">
        <div class="log-contain">
            <img src="#" alt="" srcset="">
        </div>
        <div class="button-contain">
            <a href="/"><button type="button" class="btn-header">Create</button></a>
        </div>
        <div class="profile-contain">
        </div>
    </div> -->